<ng-container *ngIf="vm$ | async as vm">
    <div *ngIf="vm.gameSessionPreview else scanCode" class="game-session-info">
        <h3 class="session-title">
            You are about to join the game session
        </h3>
        <div class="session-details">
            <h4>Host: {{ vm.gameSessionPreview.hostPlayerName }}</h4>
            <h4>Number of teams: {{ vm.gameSessionPreview.teams.length }}</h4>
            <div *ngFor="let team of vm.gameSessionPreview.teams; index as i" class="team-info">
                <div class="team-name">Team {{ i + 1 }}</div>
                <div class="team-players">
                    <h5>Players:</h5>
                    <div *ngFor="let player of team.players" class="player-name">
                        {{ player.name }}
                    </div>
                </div>
            </div>
        </div>
        <button (click)="joinSession()" class="join-button">Join</button>
    </div>
    <ng-template #scanCode>
        <div class="scan-code-section">
            <h3 class="scan-title">
                Please scan the QR code to join the game
            </h3>
            <zxing-scanner (scanSuccess)="setSessionId($event)"
                           [formats]="scanFormats"
                           style="width: 50%"
            ></zxing-scanner>
            <input #sessionIdInput class="session-id-input" placeholder="Paste session Id">
            <button (click)="setSessionId(sessionIdInput.value)" [disabled]="!sessionIdInput.value" class="paste-id-button">Use Pasted sessionId</button>
        </div>
    </ng-template>
</ng-container>
