<ng-container *ngIf="vm$ |async as vm">

    <mat-card *ngIf="vm.playerCount < 4" class="warning-card">
        A minimum of 4 people are required to play the game.
    </mat-card>
    <mat-card *ngIf="vm.playerCount > 4 && vm.playerCount % 2 !==0" class="warning-card">
        The number of players should be even.
    </mat-card>
    <mat-card class="qr-container">
        <mat-card-header>
            <mat-card-title>Game Session</mat-card-title>
            <mat-card-subtitle>Share this QR code with your friends to join you in this game session.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <qrcode value="{{ vm.sessionId}}"></qrcode>
            <div class="session-id">
                GameSessionId: {{ vm.sessionId }}
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let team of vm.teams" class="team-card">
        <mat-card-header>
            <mat-card-title>Team</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let player of team.players; trackBy: trackByPlayerId " class="player">
                <mat-icon>person</mat-icon>
                <span>{{ player.name }}</span>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="vm.isHost; else guestActions">
        <mat-card-actions>
            <button (click)="startGame()" [disabled]="!vm.canStartGame" color="primary" mat-raised-button>Start Game</button>
        </mat-card-actions>
    </mat-card>
    <ng-template #guestActions>
        <mat-card-actions>
            <button (click)="leaveGame()" color="warn" mat-raised-button>Leave Game</button>
        </mat-card-actions>
    </ng-template>

</ng-container>
