<ng-container *ngIf="vm$ | async as vm">
    <div *ngIf="vm.roomPreview else scanCode" class="room-info">
        <h3 class="session-title">
            You are about to join the game room
        </h3>
        <div class="session-details">
            <h4>Host: {{ vm.roomPreview.hostPlayerName }}</h4>
            <div *ngFor="let player of vm.roomPreview.users; index as i" class="team-info">
                <div class="team-players">
                    {{ player }}
                </div>
            </div>
        </div>
        <button (click)="joinSession(vm.roomPreview.id)" class="join-button">Join</button>
    </div>
    <ng-template #scanCode>
        <div class="scan-code-section">
            <h3 class="scan-title">
                Please scan the QR code to join the game
            </h3>
            <zxing-scanner (scanSuccess)="setSessionId($event)"
                           [formats]="scanFormats"
                           style="width: 50%"
            ></zxing-scanner>
            <input #sessionIdInput class="session-id-input" placeholder="Paste room Id">
            <button (click)="setSessionId(sessionIdInput.value)" [disabled]="!sessionIdInput.value"
                    class="paste-id-button">Use Pasted aggregateId
            </button>
        </div>
    </ng-template>
</ng-container>
