<ng-container *ngIf="vm$ |async as vm">

    <mat-card *ngIf="vm.playerCount < 4" class="warning-card">
        A minimum of 4 people are required to play the game.
    </mat-card>
    <mat-card *ngIf="vm.playerCount > 4 && vm.playerCount % 2 !==0" class="warning-card">
        The number of players should be even.
    </mat-card>
    <mat-card class="qr-container">
        <mat-card-header>
            <mat-card-title>Game Session</mat-card-title>
            <mat-card-subtitle>Share this QR code with your friends to join you in this game room.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <qrcode value="{{ vm.sessionId}}"></qrcode>
            <div class="session-id">
                RoomId: {{ vm.sessionId }}
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let team of vm.teams;index as i" class="team-card">
        <mat-card-header>
            <mat-card-title>Team</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let player of team.players; trackBy: trackByPlayerId " class="player">
                <mat-icon [ngClass]="{team1: i === 0, team2: i === 1}">person</mat-icon>
                <span>{{ player.name }}</span>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="seats-card">
        <mat-card-header>
            <mat-card-title>Please seat following the order depicted</mat-card-title>
        </mat-card-header>
        <mat-card-content class="seats-card-seat-positioning">
            <div *ngFor="let player of vm.seats; trackBy: trackBySeat" class="seats-card-seat">
                <span>{{ player.playerName }}</span>
                <mat-icon [ngClass]="{team1: player.teamIdx === 0, team2: player.teamIdx === 1}">person</mat-icon>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="vm.isHost; else guestActions">
        <mat-card-actions>
            <button (click)="startGame()" [disabled]="!vm.canStartGame" color="primary" mat-raised-button>Start Game
            </button>
        </mat-card-actions>
    </mat-card>
    <ng-template #guestActions>
        <mat-card-actions>
            <button (click)="leaveRoom()" color="warn" mat-raised-button>Leave Game</button>
        </mat-card-actions>
    </ng-template>

</ng-container>
